p {text-align: center;
text-transform: capitalize;}

h1 {text-align: center;
    font-family: "Audiowide", sans-serif;
    text-decoration-color: aqua;
    font-size: 70px;
    }
body {background-image: url("bg1.jpg");
    height:100%;
    background-size: cover;
    background-position: center;}